:root {
    --primary-text-color: black;
    --secondary-text-color: rgb(53, 51, 51);
    --tertiary-text-color: rgba(53, 51, 51, 0.521);
    --primary-background-color: rgba(131, 131, 209, 0.288);
    --secondary-background-color: rgba(223, 223, 236, 0.288);
    --primary-button-color: rgba(10, 10, 100, 0.589);
}

.page-text {
    font-family: 'Barlow', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    border: 1px solid var(--primary-button-color);
}

.index-heading {
    background-color: var(--primary-background-color);
    text-align: center;
    padding: 40px 10px;
    border: 1px solid var(--primary-button-color);
}

.index-heading h1 {
    color: var(--primary-text-color);
}

.index-heading h2 {
    color: var(--secondary-text-color);
}

.index-heading p {
    color: var(--tertiary-text-color);
}

.index-body {
    background-color: var(--secondary-background-color);
    padding: 20px 10px 5px 10px;
}

.index-body p {
    color: var(--tertiary-text-color);
    line-height: 1.5;
}

.index-body-intro {
    text-align: center;
}

.index-body img {
    border: 10px solid var(--primary-background-color);
    border-radius: 2px;
}

a {
    border-radius: 4px;
    text-align: center;
}

.row {
    margin: 50px 0px;
}

.btn-primary-color {
    background: var(--primary-button-color)!important;
    color: white!important;
}

@media (max-width: 770px) {
    .index-body {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width:250px) {
    .btn-primary-color {
        display: flex !important;
        justify-content: center !important;
    }
}

@media (min-width:770px) {
    .index-heading h2 {
        font-size: 45px;
    }

    .index-heading h1 {
        font-size: 55px;
    }
    
    .index-heading p {
        font-size: 25px;
    }

    .index-body-intro {
        font-size: 25px;
    }

    .index-body h2 {
        font-size: 40px;
    }
    .app-details {
        font-size: 20px;
    }

    .btn-primary-color {
        font-size: 18px!important;
    }

    .row {
        padding: 0 20px;
    }
}









.about-header {
    margin: 0px auto;
    padding: 100px 20px;
    max-width: 1600px;
}

.about-heading {
    background-color: var(--primary-background-color);
    text-align: left;
    margin: 80px 40px 40px 40px;
    padding: 40px 10px;
    border: 1px solid var(--primary-button-color);
}

.about-heading h1 {
    color: var(--primary-text-color);
}

.about-heading h2 {
    color: var(--secondary-text-color);
}

.about-heading p {
    color: var(--tertiary-text-color);
}

@media (min-width:1850px) {
    .about-heading h1 {
            font-size: 40px;
    }

    .about-heading h2 {
        font-size: 35px;
    }

    .about-heading p {
        font-size: 20px;
    }
}

@media (max-width:1600px) {
    .about-header {
        background-color: var(--secondary-background-color);
    }
}

@media (max-width:1300px) {
    .about-heading h1 {
        font-size: 30px;
    }
    
    .about-heading h2 {
        font-size: 20px;
    }

    .about-heading p {
        font-size: 15px;
    }
}

@media (max-width:1200px) {
    .about-heading {
            margin: 60px 40px 40px 40px;
            padding: 20px 10px;
        }
}

@media (max-width:1000px) {
    .about-heading {
        margin: 30px 10px 30px 10px;
        padding: 20px 10px;
    }
}

@media (max-width:850px) {
    .about-heading {
        margin: 0;
        padding: 20px 10px;
    }
}

@media (max-width:770px) {
    .headshot {
        display: none;
    }

    .about-heading {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width:1300px) {
    .about-heading h1 {
        font-size: 22px;
    }

    .about-heading h2 {
        font-size: 14px;
    }

    .about-heading p {
        font-size: 12px;
    }
}






.work-heading {
    background-color: var(--primary-background-color);
    text-align: center;
    padding: 40px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-button-color);
}

.work-heading h1 {
    color: var(--primary-text-color);
}

.work-projects h2, .work-projects p {
    text-align: center;
}

.work-projects h2 {
    color: var(--primary-text-color);
}

.work-projects p {
    color: var(--tertiary-text-color);
}



.contact {
    padding: 40px 0px 20px 40px;
}

.contact p {
    margin-bottom: 0px!important;
}






.logo {
    margin: 10px 0 10px 10px;
    max-height: 50px;
}

nav ul {
    display: inline;
    margin: 10px 0 0 0;
    padding: 10px 0px;
}

nav li {
    display: inline;
    margin: 0px 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-button-color);
    transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
    color: var(--primary-text-color);
    font-weight: bold;
    text-shadow: 2px;
}

@media (max-width: 410px) {
    nav li {
        display: block;
        font-size: 12px;
    }
}