:root {
    --primary-text-color: black;
    --secondary-text-color: rgb(53, 51, 51);
    --tertiary-text-color: rgba(53, 51, 51, 0.521);
    --primary-background-color: rgba(131, 131, 209, 0.288);
    --secondary-background-color: rgba(223, 223, 236, 0.288);
    --primary-button-color: rgba(10, 10, 100, 0.589);
}

.page-text {
    font-family: 'Barlow', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    border: 1px solid var(--primary-button-color);
}

.index-heading {
    background-color: var(--primary-background-color);
    text-align: center;
    padding: 40px 10px;
    border: 1px solid var(--primary-button-color);
}

.index-heading h1 {
    color: var(--primary-text-color);
}

.index-heading h2 {
    color: var(--secondary-text-color);
}

.index-heading p {
    color: var(--tertiary-text-color);
}

.index-body {
    background-color: var(--secondary-background-color);
    padding: 20px 10px 5px 10px;
}

.index-body p {
    color: var(--tertiary-text-color);
    line-height: 1.5;
}

.index-body-intro {
    text-align: center;
}

.index-body img {
    border: 10px solid var(--primary-background-color);
    border-radius: 2px;
}

a {
    border-radius: 4px;
    text-align: center;
}

.row {
    margin: 50px 0px;
}

.btn-primary-color {
    background: var(--primary-button-color)!important;
    color: white!important;
}

@media (max-width: 770px) {
    .index-body {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width:250px) {
    .btn-primary-color {
        display: flex !important;
        justify-content: center !important;
    }
}

@media (min-width:770px) {
    .index-heading h2 {
        font-size: 45px;
    }

    .index-heading h1 {
        font-size: 55px;
    }
    
    .index-heading p {
        font-size: 25px;
    }

    .index-body-intro {
        font-size: 25px;
    }

    .index-body h2 {
        font-size: 40px;
    }
    .app-details {
        font-size: 20px;
    }

    .btn-primary-color {
        font-size: 18px!important;
    }

    .row {
        padding: 0 20px;
    }
}